// Mobile styles //

.first-section {
  width: 100%;
  margin: 0 auto;
  background-color: var(--order-background-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../css/studio_images/mobile/header-mobile/m-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  & .section-padding {
    padding-top: 118px;
    padding-bottom: 118px;
  }

  .container {
    max-width: 1200px;
  }
}

// url("./studio_images/mobile/header-mobile/m-header-img.jpg"); //

@media screen and (min-width: 480px) {
  .first-section {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../css/studio_images/mobile/header-mobile/m-header.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .first-section {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../css/studio_images/mobile/header-mobile/m-header@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .first-section {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../css/studio_images/tablet/header-tablet/t-header.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .first-section {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../css/studio_images/tablet/header-tablet/t-header@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .first-section {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../css/studio_images/desktop/header-desktop/d-header.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .first-section {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../css/studio_images/desktop/header-desktop/d-header@2x.jpg");
  }
}

.h1-style {
  margin: 0 auto;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--header-background-color);
}

@media screen and (min-width: 768px) {
  .first-section {
    min-width: 768px;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .first-section {
    width: 100%;
    height: 600px;

    .section-padding {
      padding-top: 200px;
      padding-bottom: 200px;
    }
  }

  .h1-style {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
