.social-list {
  max-width: 206px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color var(--animation);

  &:hover,
  &:focus {
    background-color: var(--accent-text-color);
  }
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--links-background-color);
  transition: fill var(--animation);

  .social-list-link:hover &,
  .social-list-link:focus & {
    fill: var(--header-background-color);
  }
}
