// Mobile styles //
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  /*outline: 1px solid tomato;*/

  @media screen and (min-width: 320px) {
    width: 480px;
    margin: 0 auto;
  }

  // Tablet styles //

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  // Desktop styles //

  @media screen and (min-width: 1200px) {
    width: 100%;
  }
}
