:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --general-background-color: #e5e5e5;
  --header-background-color: #ffffff;
  --order-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --portfolio-border-color: #eeeeee;
  --links-background-color: #afb1b8;
  --vector-color: #000000;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
