/* Modal form */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity var(--animation);

  & .is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  overflow-x: hidden;
  overflow-y: hidden;

  background-color: var(--header-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: scale(1) translate(-50%, -50%);
  transition: var(--animation);
}

.close-icon {
  cursor: pointer;
  position: absolute;
  width: 11px;
  height: 11px;
  top: 17px;
  right: 17px;
  vertical-align: middle;
  fill: var(--vector-color);
  transition: var(--animation);

  .close-btn-box:hover &,
  .close-btn-box:focus & {
    fill: var(--accent-text-color);
  }
}

.modal-close-btn {
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 8px;
  padding: 9px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.form {
  padding: 40px;
  width: 528px;
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.form-box {
  position: relative;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  & label {
    margin-bottom: 4px;
    color: var(--primary-text-color);
  }

  & input:not(.form-checkbox) {
    font-size: 14px;
    padding: 11px 12px 11px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    transition: var(--animation);
  }

  & input:focus,
  textarea:focus {
    border-color: var(--accent-text-color);
    outline: none;
  }
}

.form-field textarea {
  width: 448px;
  height: 120px;
  padding: 11px 12px 11px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  cursor: pointer;
  transition: var(--animation);

  ::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  transition: var(--animation);

  overflow: hidden;

  &:checked + .checkbox-icon {
    background-color: var(--accent-text-color);
    border-color: var(--accent-text-color);
    background-image: url(./check-icon.svg);
    background-size: contain;
    background-origin: border-box;
  }
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  transition: var(--animation);
}

.form-icon {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: var(--animation);

  .form-field:focus-within & {
    fill: var(--accent-text-color);
  }
}

.checkbox-field {
  margin-top: 20px;
}

.checkbox-label {
  cursor: pointer;
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.checkbox-link {
  margin-left: 4px;
  text-decoration: underline;
  color: var(--accent-text-color);
}

.button-field {
  display: flex;
}

.modal-submit-button {
  cursor: pointer;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;

  @extend %font;
  line-height: 1.87;

  background-color: var(--accent-text-color);
  color: var(--header-background-color);
  border: 1px solid var(--accent-text-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--animation), color var(--animation);
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .modal {
    height: 95%;
    max-width: 450px;
    max-height: 609px;
    overflow: scroll;
  }

  .form {
    width: 450px;
  }

  .modal-title {
    width: 370px;
  }

  .form-field textarea {
    width: 370px;
  }

  .checkbox-label {
    width: 346px;
    font-size: 12px;
    line-height: 1.17;
  }

  .checkbox-icon {
    display: block;
    width: 16px;
    height: 15px;
    padding-right: 11px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    transition: var(--animation);
  }
}
